.page-home {
  .feature {
    border: 5px solid $white-offset;
  }
  .service {
    background-color: $steel;
    height: auto;
    border-radius: 5%;
  }
  .workshop {
    background-image: url("../../images/workshops/bg.png");
    background-repeat: repeat;
    background-size: contain;

    .img-thumbnail {
      border-radius: 50%;
    }
  }
}
